@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

img {max-width: 100%;}

header {
    min-height: 47px;
    background: #a71c18;
}

a,
a:hover,
a:focus,
a:active {outline: none;}

.phone-big-text {
    font-family: "HelveticaRegular";
    font-size: 18px;
}

.red-line {
    background: #cb0f1e;
    width: 100%;
    height: 9px;
    margin-top: 7px;
}

.white-line {
    background: #fff;
    width: 100%;
    height: 7px;
    position: relative;
    top: 9px;
    margin-bottom: 9px;
}

.no-padding {padding: 0;}

.small-bold {font-size: 13px;}

.align-right {
    text-align: right !important;
    margin-right: 65px;
}

.align-center {text-align: center;}

.menu {
    height: 47px;
    padding: 0;
    margin: 0;
    line-height: 47px;
}

.menu li {
    display: inline;
    padding-left: 57px;
}

.menu li:first-child {padding: 0;}

.menu li a {
    font-family: "HelveticaRegular";
    color: #fff;
    text-decoration: none;
}

.phone {
    background: url('../img/phone.png') no-repeat;
    height: 30px;
    font-family: "HelveticaLight";
    color: #fff;
    line-height: 30px;
    padding-left: 38px;
    margin-top: 8px;
    float: right;
    margin-right: 86px;
}

.vk {
    display: block;
    margin-top: 6px;
}

.section-head {
    background: url('../img/bg_head.png') no-repeat center bottom;
    width: 100%;
    min-height: 613px;
    border-bottom: 8px solid #cb0f1e;
}

.big-button {
    text-align: right;
    margin-top: 38px;
}

.logo {text-align: center;}

.first-title,
.last-title {
    font-family: "HelveticaBold";
    font-size: 44px;
    color: #cd0d1e;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1em;
    margin-top: 38px;
    text-shadow:
		-0   -3px 0   #FFFFFF,
		 0   -3px 0   #FFFFFF,
		-0    3px 0   #FFFFFF,
		 0    3px 0   #FFFFFF,
		-3px -0   0   #FFFFFF,
		 3px -0   0   #FFFFFF,
		-3px  0   0   #FFFFFF,
		 3px  0   0   #FFFFFF,
		-1px -3px 0   #FFFFFF,
		 1px -3px 0   #FFFFFF,
		-1px  3px 0   #FFFFFF,
		 1px  3px 0   #FFFFFF,
		-3px -1px 0   #FFFFFF,
		 3px -1px 0   #FFFFFF,
		-3px  1px 0   #FFFFFF,
		 3px  1px 0   #FFFFFF,
		-2px -3px 0   #FFFFFF,
		 2px -3px 0   #FFFFFF,
		-2px  3px 0   #FFFFFF,
		 2px  3px 0   #FFFFFF,
		-3px -2px 0   #FFFFFF,
		 3px -2px 0   #FFFFFF,
		-3px  2px 0   #FFFFFF,
		 3px  2px 0   #FFFFFF,
		-3px -3px 0   #FFFFFF,
		 3px -3px 0   #FFFFFF,
		-3px  3px 0   #FFFFFF,
		 3px  3px 0   #FFFFFF,
		-3px -3px 0   #FFFFFF,
		 3px -3px 0   #FFFFFF,
		-3px  3px 0   #FFFFFF,
		 3px  3px 0   #FFFFFF;
}

.last-title {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.vk_banner {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    margin-left: 10px;
}

.header-title {
    font-size: 52px;
    color: #cd0d1e;
    text-align: center;
    padding: 50px 0 54px 0;
    text-transform: uppercase;
    font-family: "HelveticaBold";
    border-bottom: 8px solid #cb0f1e;
}

.section-list {border-bottom: 8px solid #cb0f1e;}

.bg-list {
    background: url('../img/bg_list.jpg') no-repeat center bottom;
    width: 100%;
    height: 735px;
}

.block-list {
    background: #bf121c;
    height: 735px;
}

.title-list {
    font-size: 41px;
    color: #fff;
    font-family: "HelveticaBold";
    margin-left: 83px;
}

.list {
    padding: 0;
    margin-left: 155px;
    margin-top: 45px;
}

.list li {
    font-size: 30px;
    color: #fff;
    font-family: "HelveticaBold";
    list-style-image: url('../img/list-icon.png');
    padding: 0;
}

.section-many-blocks {
    background: url('../img/bg_bg.jpg') no-repeat;
    width: 100%;
}

.block-packs {margin-top: 57px;}

.block-content-packs {
    width: 100%;
    padding: 36px 35px;
    border: 2px solid #bebfc1;
    border-radius: 10px;
    background: #f8f8f8;
    margin-bottom: 15px;
}

.name-packs {
    font-family: "HelveticaBold";
    color: #000;
    font-size: 34px;
    text-align: center;
    line-height: 1.1em;
}

.price-packs {
    color: #cd0d1e;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1em;
    font-size: 19px;
    font-family: "HelveticaBold";
}

.about-packs {
    text-align: center;
    margin-top: 78px;
}

.about-packs a {
    color: #cd0d1e;
    font-family: "HelveticaBold";
    font-size: 13px;
    text-decoration: underline;
    line-height: 1.1em;
    outline: none;
}

.green-button {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.block-we {
    font-size: 52px;
    color: #cd0d1e;
    text-align: center;
    font-family: "HelveticaBold";
    line-height: 1.1em;
    margin-top: 65px;
}

.block-items-we {
    text-align: center;
    margin-top: 73px;
}

.block-icon-we {
    display: inline-block
}

.block-text-we {
    display: inline-block;
    vertical-align: top;
    margin-left: 65px;
}

.name-we {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "HelveticaBold";
    text-align: left;
}

.text-we {
    font-family: "HelveticaLight";
    font-size: 20px;
    color: #000;
    margin-top: 10px;
    text-align: left;
}

.block-aud {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.block-our-clients {
    background: url('../img/red_block.jpg') no-repeat;
    width: 100%;
    min-height: 168px;
    margin-top: 7px;
    text-align: center;
    color: #fff;
    font-family: "HelveticaBold";
    line-height: 168px;
    font-size: 52px;
}

.block-parth .container .row .col-md-4 {
    height: 300px;
    line-height: 300px;
    text-align: center;
}

.section-favorite {
    background: url('../img/bg_items.jpg') no-repeat center bottom;
    width: 100%;
    height: 760px;
    border-bottom: 8px solid #cb0f1e;
}

.section-favorite .block-we {
    color: #000;
}

.we-list {margin-top: 52px;}

.we-list li {
    color: #000;
    font-family: "HelveticaBold";
    font-size: 30px;
    text-transform: uppercase;
    list-style-image: url('../img/gal.png');
    padding-bottom: 12px;
}

.block-get-pres {
    text-align: center;
    margin-top: 6px;
}

.logo,
.info-comm {
    display: inline-block;
    vertical-align: top;

}

.name-comm {
    font-size: 19px;
    color: #000;
    font-family: "HelveticaBold";
    text-transform: uppercase;
    margin-top: 65px;
}

.name-company {
    color: #546265;
    font-family: "HelveticaBold";
    text-transform: uppercase;
    font-size: 15px;
}

.text-comm {
    color: #000;
    font-size: 15px;
    font-family: "HelveticaLight";
    margin-left: 20px;
}

.read-comm {text-align: right;}

.read-comm a {
    color: #cb0f1e;
    font-size: 12px;
    text-decoration: none;
}

.block-info-comm {
    display: inline-block;
    vertical-align: top;
}

.bxslider li .block-info-comm:nth-child(odd) {
    float: right;
    margin-right: 85px;
}

.bx-default-pager {display: none;}

.section-map {position: relative;}

.section-map .red-line {
    position: absolute;
    bottom: 6px;
}

footer {
    background: url('../img/bg_footer.jpg');
    width: 100%;
    height: 483px;
}

.any-questions {
    font-size: 52px;
    color: #fff;
    text-align: center;
    font-family: "HelveticaBold";
    text-transform: uppercase;
    line-height: 1.1em;
    margin-top: 38px;
}

.call-me {
    font-size: 38px;
    color: #fff;
    display: inline-block;
    margin-bottom: 45px;
}

.icon-vk {
    display: inline-block;
    vertical-align: top;
    margin-left: 17px;
}

.phone-text {
    font-size: 52px;
    color: #fff;
    text-transform: uppercase;
    font-family: "HelveticaBold";
    display: inline-block;
    margin-bottom: 40px;
}

.small-or {
    font-family: "HelveticaLight";
    font-size: 34px;
    text-transform: lowercase;
}

.big-white-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -15px;
}

.copir > div {
    color: #fff;
    font-family: "HelveticaLight";
    margin-bottom: 20px;
}

.copir > div:nth-child(1) {
    font-size: 38px;
}

.copir > div:nth-child(2),
.copir > div:nth-child(3) {
    font-size: 27px;
}

.copir > div:nth-child(3) {margin: 0;}

#form-send input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 15px;
    outline: none;
}
